manifest {
  description = 'RNAseq post processing to detect germline variants' 
}

/* 
 * defines execution profiles for different environments  
 */ 


profiles {
  standard {
     executor ='local'
     
       
     docker.remove      = true
     docker.enabled     = false
     docker.temp        = 'auto'
     docker.runOptions = "-u \$(id -u):\$(id -g) "

     trace.enabled = false
     trace.fields = 'task_id,name,status,exit,realtime,%cpu,rss,vmem,peak_vmem,peak_rss'
  }
  
  docker {
     executor ='local'
      process {
         withName: normalize{
          cpus = 1
          container = "smartrnaseqcaller:latest"
          memory = 8.GB
         }
      }
      
     process {
         withName: normalize_vcf{
          cpus = 1
          container = "smartrnaseqcaller:latest"
          memory = 8.GB
         }
      }

     process {
         withName: GATK_annotate{
          cpus = 1
          container = "broadinstitute/gatk3:3.6-0"
          memory = 8.GB
         }
      }
     

     process {
         withName: GATK_get_annotations{
         cpus = 1
         container = "smartrnaseqcaller:latest"
         } 
     }


     process {
         withName: variant_post_process{
          cpus = 1
          container = "smartrnaseqcaller:latest"
          memory = 8.GB
         }
      }

     process {
         withName: classify_variants{
          cpus = 1
          container = "smartrnaseqcaller:latest"
          memory = 8.GB
         }
      }   

     docker.remove      = true
     docker.enabled     = true
     docker.temp        = 'auto'
     docker.runOptions = "-i  -u \$(id -u):\$(id -g) "

     trace.enabled = true
     trace.fields = 'task_id,name,status,exit,realtime,%cpu,rss,vmem,peak_vmem,peak_rss'
  }
}

