manifest {
  description = 'RNAseq post processing to detect germline variants' 
}

/* 
 * defines execution profiles for different environments  
 */ 


profiles {
  standard {
     executor ='local'

     process.$normalize.cpus = 1
     process.$quant.cpus = 8
     docker.remove      = true
     docker.enabled     = false
     docker.temp        = 'auto'
     docker.runOptions = "-u \$(id -u):\$(id -g) "

     trace.enabled = false
     trace.fields = 'task_id,name,status,exit,realtime,%cpu,rss,vmem,peak_vmem,peak_rss'
  }
  
  docker {
     executor ='local'

     process.$normalize.container = "bcftools:1.3.1"
     process.$normalize.cpus = 1
 
     process.$GATK_annotate.container ="broadinstitute/gatk3:3.6-0"
     process.$GATK_annotate.cpus = 1

     process.$variant_post_process.container=""
     process.$variant_post_process.cpus=1   
    
     process.$classify_variants.container=""     
     process.$classify_variants.cpus=1     

     docker.remove      = true
     docker.enabled     = true
     docker.temp        = 'auto'
     docker.runOptions = "-u \$(id -u):\$(id -g) "

     trace.enabled = false
     trace.fields = 'task_id,name,status,exit,realtime,%cpu,rss,vmem,peak_vmem,peak_rss'
  }
}

